@import "_minix.scss";
@import "common.scss";
body {
    background: #ccc;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 45px;
    border-bottom: solid 1px rgb(241, 239, 239);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    box-sizing: border-box;
    background: #fff;
}

section {
    margin-top: 10px;
    flex: 1;
    .containtop {
        height: 50px;
        width: 100%;
        border-bottom: solid 1px #ccc;
        background: #fff;
        padding-left: 10px;
        box-sizing: border-box;
        line-height: 50px;
        .tx {
            font-size: 30px;
            padding-right: 10px;
        }
    }
    .list {
        height: 45px;
        width: 100%;
        background: #fff;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        i {
            width: 10%;
        }
        p {
            border-bottom: solid 1px #ccc;
            display: flex;
            justify-content: space-between;
            width: 90%;
            line-height: 44px;
            height: 44px;
        }
    }
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background: #333;
    box-sizing: border-box;
}